/* ----------------------------------------------- */

/* VARIABLES*/

/* ----------------------------------------------- */

/* ----- COLOURS ----- */

$basicColorFonts: #828282;
$alternativeColorFonts: #fff;
$colorPostArticle: #555;
$colorButtonFonts: #fff;
$aquamarineColor: #00b5c5;
$violetColor: #9068be;
$orangeColor: #e46e48;
$greenColor: #326c73;
$spaceColor: #fff;
$backgroundColorSection: #f6f6f6;
$boxColor: #fff;
$backgroundColorFooter: #011e22;
$footerContentColor: #acb2b3;
/* ----- FONTS ----- */

$fontStyle: 'Roboto',
sans-serif;
$alternativefontStyle: 'Damion',
cursive;
$sizeFonts: 18px;
/* ----------------------------------------------- */

/* BASIC SETUP */

/* ----------------------------------------------- */

@import './reset.css';
body {
    background-color: $spaceColor;
    color: $basicColorFonts;
    font-size: $sizeFonts;
    font-family: $fontStyle;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img,
a {
    display: block;
}

/* ----------------------------------------------- */

/* REUSABLE COMPONENTS */

/* ----------------------------------------------- */

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    padding: 30px 15px;
}

.center-horizontal {
    text-align: center;
}

/* ----- HEADINGS ----- */

h2.title-section {
    font-size: 140%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2.title-section:after {
    display: block;
    height: 4px;
    background-color: $aquamarineColor;
    content: " ";
    width: 55px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ----- PARAGRAPHS ----- */

p {
    line-height: 145%;
}

p.description-section {
    font-size: 90%;
    padding: 10px;
    margin-bottom: 30px;
}

/* ----- BUTTONS ------- */

.btn {
    display: inline-block;
    text-decoration: none;
    color: $colorButtonFonts;
    font-family: $alternativefontStyle;
    text-align: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.btn-large {
    width: 250px;
    height: 60px;
    line-height: 60px;
    font-size: 160%;
}

.btn-small {
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 130%;
}

.btn-normal {
    width: 180px;
    height: 45px;
    line-height: 45px;
    font-size: 130%;
}

.btn-violet {
    background-color: $violetColor;
    &:hover {
        background-color: $colorButtonFonts;
        color: $violetColor;
    }
}

.btn-orange {
    background-color: $orangeColor;
    &:hover {
        background-color: $colorButtonFonts;
        color: $orangeColor;
    }
}

.btn-green {
    background-color: $greenColor;
    &:hover {
        background-color: $colorButtonFonts;
        color: $greenColor;
    }
}

/* ----- CIRCLE ICON ------- */

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.36);
    img {
        width: 100%;
        height: auto;
    }
}

.icon-violet {
    background-color: $violetColor;
}

.icon-aquamarine {
    background-color: $aquamarineColor;
}

/* ----------------------------------------------- */

/* HEADER */

/* ----------------------------------------------- */

header {
    background-color: $aquamarineColor;
    background: -moz-linear-gradient(top, #00d9ed 0%, #00d8ec 40%, #00d8ec 100%);
    background: -webkit-linear-gradient(top, #00d9ed 0%, #00d8ec 40%, #00d8ec 100%);
    background: linear-gradient(to bottom, #00d9ed 0%, #00d8ec 40%, #00d8ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9ed', endColorstr='#00d8ec', GradientType=0);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .logo {
        padding-top: 20px;
    }
    .icon-menu {
        fill: #fff;
        padding-top: 16px;
    }
}

.main-nav {
    width: 93%;
    margin-top: 20px;
    text-align: center;
    display: none;
    position: absolute;
    top: 100px;
    background-color: $aquamarineColor;
    background: -moz-linear-gradient(top, #00d9ed 0%, #00d8ec 40%, #00d8ec 100%);
    background: -webkit-linear-gradient(top, #00d9ed 0%, #00d8ec 40%, #00d8ec 100%);
    background: linear-gradient(to bottom, #00d9ed 0%, #00d8ec 40%, #00d8ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9ed', endColorstr='#00d8ec', GradientType=0);
    li {
        list-style: none;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 50px;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 75%;
            padding: 0;
        }
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: center;
    color: #fff;
    .primary-slogan {
        font-size: 140%;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .primary-slogan--big {
        font-size: 200%;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .primary-text--start {
        font-size: 90%;
        margin-bottom: 30px;
    }
    .btn {
        align-self: center;
    }
}

/* ----------------------------------------------- */

/* ABOUT */

/* ----------------------------------------------- */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.about-content--text {
    background-color: $backgroundColorSection;
    padding: 30px 40px 30px 30px;
}

.big-letter {
    text-transform: uppercase;
}

.about-post--article {
    font-size: 80%;
    color: $colorPostArticle;
    margin-bottom: 30px;
}

.about-post--article:last-of-type {
    margin-bottom: 50px;
}

.link {
    text-decoration: none;
    color: $orangeColor;
    font-size: 80%;
}

/* ----------------------------------------------- */

/* CONTACT */

/* ----------------------------------------------- */

.contact-line {
    background-color: $violetColor;
    color: $alternativeColorFonts;
}

.contact-line--content {
    display: flex;
    flex-direction: column;
}

.contact-line--text {
    h3 {
        font-size: 110%;
        margin-bottom: 15px;
    }
    p {
        font-size: 90%;
        margin-bottom: 15px;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    .field {
        height: 45px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .btn-action {
        width: 100%;
        border-style: none;
    }
}

/* ----------------------------------------------- */

/* OFFER */

/* ----------------------------------------------- */

.offer {
    background-color: $backgroundColorSection;
}

.offer-content {
    display: flex;
    flex-direction: column;
}

.box,
.box-offer {
    background-color: $boxColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    .circle-icon {
        margin-top: -50px;
        margin-bottom: 30px;
    }
    .btn {
        margin-bottom: -20px;
    }
}

.title-box {
    font-size: 135%;
    margin-bottom: 30px;
    font-weight: 500;
}

.color-violet {
    color: $violetColor;
}

.color-aquamarine {
    color: $aquamarineColor;
}

.box-text {
    font-size: 80%;
    margin-bottom: 30px;
    color: $colorPostArticle;
}

/* ----------------------------------------------- */

/* CLIENTS */

/* ----------------------------------------------- */

.box-clients {
    margin-bottom: 150px;
    .special-sign {
        align-self: flex-start;
        margin-top: -23px;
        margin-bottom: 20px;
    }
}

.clients-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    margin-bottom: -80px;
    .user-photo {
        transition: all .5s ease-in-out;
        &:hover {
            transform: rotate(360deg);
        }
    }
    .clients-caption {
        font-family: $alternativefontStyle;
        color: $violetColor;
        font-size: 120%;
    }
    .clients-link {
        text-decoration: none;
        font-family: $alternativefontStyle;
        color: $aquamarineColor;
        font-size: 110%;
    }
}

/* ----------------------------------------------- */

/* SUMMARY OFFER */

/* ----------------------------------------------- */

.summary-offer {
    background-image: url(../images/backgroundsummary.png);
    background-size: cover;
}

.summary-offer--text {
    font-size: 130%;
    color: $alternativeColorFonts;
    margin-bottom: 50px;
}

/* ----------------------------------------------- */

/* FOOTER */

/* ----------------------------------------------- */

footer {
    background-color: $backgroundColorFooter;
    padding: 30px 15px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-footer {
        margin-bottom: 30px;
    }
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    li {
        margin-bottom: 10px;
    }
    a {
        color: $footerContentColor;
        font-size: 90%;
        text-decoration: none;
        border-left: 2px solid $footerContentColor;
        border-bottom: 2px solid transparent;
        padding-left: 10px;
        transition: all .2s ease-in-out;
        &:active {
            border-left: 2px solid transparent;
            border-bottom: 2px solid $footerContentColor;
        }
        &:hover {
            border: none;
            border-right: 2px solid transparent;
            color: $aquamarineColor;
        }
    }
}

.social-list {
    display: flex;
}

.social-icon {
    width: 30px;
    height: 30px;
    background-color: $footerContentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: all .5s ease-in-out;
    &:hover,
    &:active {
        background-color: $aquamarineColor;
        border-radius: 50%;
    }
}

/* ----------------------------------------------- */

/* QUERIES */

/* ----------------------------------------------- */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) {
    /* REUSABLE COMPONENTS */
    section {
        padding: 50px 30px;
    }
    /* ABOUT */
    .about-content {
        img {
            width: 80%;
            height: auto;
            display: block;
        }
    }
    .about-content--text {
        width: 80%;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {
    /* ----- PARAGRAPHS ----- */
    p.description-section {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    /* HEADER */
    .icon-menu {
        display: none;
    }
    nav {
        flex-wrap: nowrap;
    }
    .main-nav {
        position: unset;
        width: 75%;
        display: flex;
        justify-content: flex-end;
    }
    .main-nav li {
        margin-right: 20px;
        padding-top: 20px;
        a {
            font-size: 90%;
        }
    }
    .header-text {
        .btn {
            align-self: flex-start;
        }
    }
    .main-nav li:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
    /* ABOUT */
    .about-content {
        img {
            width: 60%;
            height: auto;
            display: block;
        }
    }
    .about-content--text {
        width: 60%;
    }
    /* CONTACT */
    .contact-line--content {
        flex-direction: row;
    }
    .contact-line--text {
        width: 50%;
    }
    .contact-form {
        width: 50%
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
    /* REUSABLE COMPONENTS */
    section {
        padding: 80px 30px;
    }
    /* HEADER */
    .header-content {
        &::after {
            content: "";
            height: 90%;
            width: 60%;
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url(../images/women-background.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: 100px;
            background-position-x: center;
            display: block;
        }
    }
    .main-nav li {
        a {
            font-size: 100%;
        }
    }
    .header-text {
        width: 50%;
    }
    /* ABOUT */
    .about-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 50%;
            height: auto;
            position: relative;
            z-index: 1;
        }
    }
    .about-content--text {
        width: 60%;
        position: relative;
        z-index: -1;
        margin-left: -33px;
        padding: 30px 40px 30px 63px;
    }
    /* CONTACT */
    .contact-line--content {
        flex-direction: row;
    }
    .offer-content {
        flex-direction: row;
        justify-content: space-between;
    }
    /* OFFER */
    .box-offer {
        width: 48%;
    }
    .clients-content {
        display: flex;
        justify-content: space-between;
    }
    .box-clients {
        width: 32%;
    }
    /* FOOTER */
    .footer-nav {
        flex-direction: row;
        align-items: center;
        a {
            padding-right: 10px;
            border: none;
            border-right: 2px solid $footerContentColor;
        }
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* BASIC SETUP */
    body {
        font-size: 20px;
    }
    /* CONTACT */
    .contact-line--text {
        width: 40%;
    }
    .contact-form {
        width: 60%;
        flex-direction: row;
        .field {
            width: 250px;
            margin-right: 10px;
        }
        .btn-action {
            width: 180px;
        }
    }
}